body {
    text-align: center;
    width: 1050px;
}

body > div {
    vertical-align: top;
}

.buttonContainer {
    height: 500px;
    width: 120px;
    display: inline-block;
}
.spinnerContainer {
    height: 500px;
    width: 800px;
    display: inline-block;
    position: relative;
    border-radius: 20px;
    background-color: white;
}

.spinner {
    height: 100px;
    width: 100px;
    background-color: lightblue;
    position: absolute;
}

.row1 {
    left: 165px;
}

.row2 {
    left: 365px;
}

.row3 {
    left: 565px;
}

.bkg1 {
    background-image: url('cherries.png');
    background-size: cover;
}

.bkg2 {
    background-image: url('peach.png');
    background-size: cover;
}

.bkg3 {
    background-image: url('grapes.png');
    background-size: cover;
}

.bkg4 {
    background-image: url('seven.jpg');
    background-size: cover;
}

.bkg5 {
    background-image: url('diamond.png');
    background-size: cover;
}

.block {
    height: 200px;
    width: 100%;
    position: absolute;
    background-color: cadetblue;
    border-radius: 20px;
}

.top {
    top: 0;
    z-index: 1;
}

.bottom {
    bottom: 0;
}

button {
    margin: 10px auto;
    height: 100px;
    width: 100px;
    display: block;
    background: cadetblue;
    background-image: linear-gradient(to bottom, cadetblue, lightsteelblue);
    background-image: -webkit-linear-gradient(top, cadetblue, lightsteelblue);
    background-image: -o-linear-gradient(top, cadetblue, lightsteelblue);
    background-image: -ms-linear-gradient(top, cadetblue, lightsteelblue);
    background-image: -moz-linear-gradient(top, cadetblue, lightsteelblue);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    font-family: Arial, serif;
    font-size: 20px;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    border-color: transparent;
    border-radius: 50%;
    text-decoration: none;
}

button:hover {
    background: pink;
    background-image: linear-gradient(to bottom, pink, lightsteelblue);
    background-image: -webkit-linear-gradient(top, pink, lightsteelblue);
    background-image: -o-linear-gradient(top, pink, lightsteelblue);
    background-image: -ms-linear-gradient(top, pink, lightsteelblue);
    background-image: -moz-linear-gradient(top, pink, lightsteelblue);
    text-decoration: none;

}

#winner {
    display: none;
    position: absolute;
    z-index: 2;
    top: 100px;
    left: 366px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

nav {
    margin-left: 65px;
}